* {
  color: $white;
  font-family: 'Lato', sans-serif;
}

body {
  background: $black-90;
  text-align: center;

  &.home {
    animation: colorchange 13s infinite;
    -webkit-animation: colorchange 13s infinite; /* Chrome and Safari */
  }

  &.active {

    header {
      margin-top: 0;

       h1 {
         font-size: 2em;
       }

      h2 {
        font-size: 1em;
      }
    }
  }
}

.body--decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

button {
  color: $white;
  cursor: pointer;
  background: $button;
  border: 0;
  border-radius: 30px;
  letter-spacing: .1em;
  margin: 0 .5em;
  padding: 1em 1.8em;
  text-transform: uppercase;
  font-weight: 900;

  &.pulse-button {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    margin: 40px 0;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

    &:hover {
        animation: none;
    }
  }
  &.submit {
    background: $button;
  }

  &.reset {
    background: rgba(0,0,0,.3);
  }
}

header {
  position: relative;
  margin-top:20%;
  transition-delay: 0;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease-in-out;

  // &.active {
  //   margin-top: 0;
  //
  //    h1 {
  //      font-size: 2em;
  //    }
  //
  //   h2 {
  //     font-size: 1em;
  //   }
  // }
}

section {
  position: relative;
  z-index: 2;
  display: none;
  transition-delay: 0;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: linear;

  &#home,
  &#page-start {
    display:block;
    margin-top: 0;
  }

  &#page-question,
  &#page-answer,
  &#page-results {
    height: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 100%;
    text-align: center;
    left: 0;
  }
}

ul {
  clear: both;
  margin: 0;
  padding: 0;

  li {
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    margin: 0 3px;
    width: 40px;
  }
}

.flexbox {

}

.flexbox > span {
  // width: 50%;
}
