.options {
  margin: 1em 0;
  text-align: center;

  @media (min-width: 460px) {
    margin: 2em 0;
  }
  @media (min-width: 600px) {
    margin: 3em 0;
  }

  .options--choice {
    display: inline-block;
    height: 90px;
    margin: 0;
    position: relative;
    width: 90px;
  }

  .options--input {
    border: 3px solid $white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 70px;
    left: 10px;
    position: absolute;
    top: 10px;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: linear;
    width: 70px;

    &:hover {
      border-width: 5px;
    }

    &.active {
      border-width: 10px;
      height: 80px;
      left: 5px;
      top: 5px;
      width: 80px;
    }

    label {
      display: none;
      text-indent: -9999px;
    }

    input[type="radio"] {
      border: 0;
      cursor: pointer;
      display: inline-block;
      height: 70px;
      opacity: 0;
      width: 70px;
    }
  }
}
