.pager {
  display: none;
  position: fixed;
  bottom: 130px;
  right: 0;
  width: 100%;
  z-index: 3;
  text-align: center;

  @media (min-width: 700px) {
    bottom: 50px;
    right: 50px;
    width: auto;
  }

  h3 {
    @media (max-width: 700px) {
      margin-left: 0;
      font-size: 1em;
    }
  }

  ul {
    display: inline-block;
  }

  li {
    position: relative;
    background: rgba(0,0,0,0.5);

    &.current {
      animation: currentQuestion 1s infinite;
      -webkit-animation: currentQuestion 1s infinite; /* Chrome and Safari */
    }

    &.correct {
      background: $green-40;
    }

    &.incorrect {
      background: $red-60;
    }

    .fa {
      color: $white;
      position: absolute;
      font-size: 1.3em;
      left: 0;
      width: 100%;
      text-align: center;
      top: 5px;

      @media (min-width: 460px) {
        top: 10px;
      }
    }
  }
}

.resultsPage .pager {
  display: none;
}
