.pager {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 3;

  ul {
    display: inline-block;
  }

  li {
    position: relative;
    background: rgba(0,0,0,0.5);

    &.current {
      animation: currentQuestion 1s infinite;
      -webkit-animation: currentQuestion 1s infinite; /* Chrome and Safari */
    }

    &.correct {
      background: $green-40;
    }

    &.incorrect {
      background: $red-60;
    }

    .fa {
      color: $white;
      position: absolute;
      font-size: 1.3em;
      left: 0;
      width: 100%;
      text-align: center;
      top: 10px;
    }
  }
}

.resultsPage .pager {
  display: none;
}
