@import 'colors.scss';
@import 'base.scss';
@import 'pager.scss';
@import 'keyframes.scss';

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 900;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;

  span {
    opacity: .3;
  }
}

h3 {
  display: inline-block;
  margin: 0 20px 0;
  position: relative;
  top: -10px;
}

button {
  color: $white;
  cursor: pointer;
  background: $button;
  border: 0;
  border-radius: 30px;
  letter-spacing: .1em;
  margin: 0 .5em;
  padding: 1em 1.8em;
  text-transform: uppercase;
  font-weight: 900;

  &.pulse-button {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    margin: 40px 0;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

    &:hover {
        animation: none;
    }
  }
  &.submit {
    background: $button;
  }

  &.reset {
    background: rgba(0,0,0,.3);
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  align-content: center;
  justify-content: space-between;
}

.flexbox > span {
  // width: 50%;
}
